@tailwind base;
@tailwind components;
@tailwind utilities;


.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.button__style {
  background: linear-gradient(135deg, #e2723d 0%, #992e00 100%);
  border-radius: 1.5rem;
  font-family: 'Lexend Giga', Martian Mono, sans-serif;
  font-size: 1.7rem;
  font-weight: 900;
  color: white;
  z-index: 2;
}

.button__style:hover {
  background: linear-gradient(135deg, #8f3b15 0%, #ff4d01 100%);
}

.mars-word {
  animation: zoom-slow 8s ease-out infinite;
}

@keyframes zoom-slow {

  0%,
  100% {
    color: #e5ebea;
    filter: blur(1px);
    text-shadow: 0 0 5px #ffffff, 0 0 100px #00c2bc, 0 0 55px #00c2bce0,
      0 0 120px #e0e9e9, 0 0 30px #d3e9e8, 0 0 50px #abe9e7, 0 0 60px #7b79cf,
      0 0 80px #1d00c2;
  }

  45%,
  100% {
    filter: blur(0);
    color: #fff;
    text-shadow: none;
  }
}


.blink:hover {
  animation: zoomup 25s ease-out infinite;
}

@keyframes zoomup {

  0%,
  100% {
    color: #e5ebea;
    filter: blur(1px);
    text-shadow: 0 0 10px #d8e4e3, 0 0 20px #00c2ba, 0 0 30px #00c2ba,
      0 0 40px #e0e9e9, 0 0 60px #d3e9e8, 0 0 80px #abe9e7, 0 0 100px #7b79cf,
      0 0 120px #1d00c2;
  }

  5%,
  95% {
    filter: blur(0);
    color: #fff;
    text-shadow: none;
  }
}

.navbar {
  background-color: var(--primary-color);
  position: relative;
  z-index: 999;
  
}

.rajdhani {
  font-family: 'Rajdhani', 'Orbitron', sans-serif;
}