@tailwind base;
@tailwind components;
@tailwind utilities;


.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  border-radius: 22px;
  border: 1px solid #5c5c5c98;
  background: linear-gradient(103deg, #d4d4d454 -98.71%, rgba(0, 0, 0, 0.445) 103.17%);
  box-shadow: -2px 9px 5px 0px rgba(22, 22, 22, 0.25);
  backdrop-filter: blur(25px);
}

@-webkit-keyframes slide-top {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.button__style {
  background: linear-gradient(135deg, #e2723d 0%, #992e00 100%);
  border-radius: 1.5rem;
  font-family: 'Rajdhani', Martian Mono, sans-serif;
  font-weight: 600;
  color: white;
  z-index: 2;
  border-radius: 22px;
}

.blink__word {
  animation: zoom-slow 8s ease-out infinite;
}

@keyframes zoom-slow {

  0%,
  100% {
    color: #e5ebea;
    filter: blur(1px);
    text-shadow: 0 0 5px #ffffff, 0 0 100px #00c2bc, 0 0 55px #00c2bce0,
      0 0 120px #e0e9e9, 0 0 30px #d3e9e8, 0 0 50px #abe9e7, 0 0 60px #7b79cf,
      0 0 80px #1d00c2;
  }

  45%,
  100% {
    filter: blur(0);
    color: #fff;
    text-shadow: none;
  }
}


.blink:hover {
  animation: zoomup 25s ease-out infinite;
}

@keyframes zoomup {

  0%,
  100% {
    color: #e5ebea;
    filter: blur(1px);
    text-shadow: 0 0 10px #d8e4e3, 0 0 20px #00c2ba, 0 0 30px #00c2ba,
      0 0 40px #e0e9e9, 0 0 60px #d3e9e8, 0 0 80px #abe9e7, 0 0 100px #7b79cf,
      0 0 120px #1d00c2;
  }

  5%,
  95% {
    filter: blur(0);
    color: #fff;
    text-shadow: none;
  }
}

.navbar {
  background-color: var(--primary-color);
  position: relative;
  z-index: 999;

}

.rajdhani {
  font-family: 'Rajdhani', 'Orbitron', sans-serif;
}

.blur__card {
  border-radius: 22px;
  border: 1px solid rgba(92, 92, 92, 0.596);
  background: linear-gradient(103deg, rgba(212, 212, 212, 0.192) -98.71%, rgba(0, 0, 0, 0.00) 103.17%);
  box-shadow: -2px 9px 5px 0px rgba(22, 22, 22, 0.25);
  backdrop-filter: blur(2px);
}

@media (min-width: 1024px) {
  .parallax {
    --f: .01;
    /* the parallax factor (the smaller the better) */
    --r: 22px;
    /* radius */

    --_f: calc(100%*var(--f)/(1 + var(--f)));
    --_a: calc(90deg*var(--f));
    clip-path: inset(0 var(--_f) 0 0 round var(--r));
    transform: perspective(600px) var(--_t, rotateY(var(--_a)));
    transition: .3s;
    cursor: pointer;
  }


  .parallax:hover {
    clip-path: inset(0 0 0 var(--_f) round var(--r));
    --_t: translateX(calc(-2*var(--_f))) rotateY(calc(-1*var(--_a)));
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.animate-up-down {
  animation: up-down 2s ease-in-out infinite;
}