.loader-container {
  position: relative;
  display: block;
  width: 150px;
  height: 150px;
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateY(45deg) rotateX(45deg) translateZ(0);
}

.circle {
  position: absolute;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
  will-change: transform;
}

.circle:nth-child(1) {
  left: 3.125%;
  top: 3.125%;
  width: 93.75%;
  height: 93.75%;
  animation: spin 12s infinite linear;
}

.circle:nth-child(2) {
  left: 6.25%;
  top: 6.25%;
  width: 87.5%;
  height: 87.5%;
  animation: spin 6s infinite linear;
}

.circle:nth-child(3) {
  left: 9.375%;
  top: 9.375%;
  width: 81.25%;
  height: 81.25%;
  animation: spin 4s infinite linear;
}

.circle:nth-child(4) {
  left: 12.5%;
  top: 12.5%;
  width: 75%;
  height: 75%;
  animation: spin 3s infinite linear;
}

.circle:nth-child(5) {
  left: 15.625%;
  top: 15.625%;
  width: 68.75%;
  height: 68.75%;
  animation: spin 2.4s infinite linear;
}

.circle:nth-child(6) {
  left: 18.75%;
  top: 18.75%;
  width: 62.5%;
  height: 62.5%;
  animation: spin 2s infinite linear;
}

.circle:nth-child(7) {
  left: 21.875%;
  top: 21.875%;
  width: 56.25%;
  height: 56.25%;
  animation: spin 1.714s infinite linear;
}

.circle:nth-child(8) {
  left: 25%;
  top: 25%;
  width: 50%;
  height: 50%;
  animation: spin 1.5s infinite linear;
}

.circle:nth-child(9) {
  left: 28.125%;
  top: 28.125%;
  width: 43.75%;
  height: 43.75%;
  animation: spin 1.333s infinite linear;
}

.circle:nth-child(10) {
  left: 31.25%;
  top: 31.25%;
  width: 37.5%;
  height: 37.5%;
  animation: spin 1.2s infinite linear;
}

.circle:nth-child(11) {
  left: 34.375%;
  top: 34.375%;
  width: 31.25%;
  height: 31.25%;
  animation: spin 1.091s infinite linear;
}

.circle:nth-child(12) {
  left: 37.5%;
  top: 37.5%;
  width: 25%;
  height: 25%;
  animation: spin 1s infinite linear;
}

.circle:nth-child(13) {
  left: 40.625%;
  top: 40.625%;
  width: 18.75%;
  height: 18.75%;
  animation: spin 0.923s infinite linear;
}

.circle:nth-child(14) {
  left: 43.75%;
  top: 43.75%;
  width: 12.5%;
  height: 12.5%;
  animation: spin 0.857s infinite linear;
}

.circle:nth-child(15) {
  left: 46.875%;
  top: 46.875%;
  width: 6.25%;
  height: 6.25%;
  animation: spin 0.8s infinite linear;
}

.circle:nth-child(16) {
  left: 50%;
  top: 50%;
  width: 0%;
  height: 0%;
  animation: spin 0.75s infinite linear;
}

.circle:nth-child(2n) {
  border: 2px dashed rgba(255, 255, 255, 0.5);
}

.circle:last-child {
  display: none;
}

@keyframes spin {
  0% {
    transform: rotateX(0deg);
  }

  100% {
    transform: rotateX(360deg);
  }
}