@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family:'Lexend Giga', Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-width: 280px;
  --primary-color: #000213;
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.button__style {
  background: linear-gradient(135deg, #e2723d 0%, #992e00 100%);
  border-radius: 1.5rem;
  font-family: 'Lexend Giga', Martian Mono, sans-serif;
  font-size: 1.7rem;
  font-weight: 900;
  color:white;
}

p {
  font-family: 'Lexend Giga', Helvetica, Arial, sans-serif;
  font-size: 1rem;
}