@function multiple-box-shadow($n) {
	$value: "#{random(500)}px #{random(2000)}px #FFF";
	@for $i from 2 through $n {
		$value: "#{$value} , #{random(4000)}px #{random(3000)}px #FFF";
	}
	@return unquote($value);
}

$shadows-small: multiple-box-shadow(600);
$shadows-medium: multiple-box-shadow(500);
$shadows-big: multiple-box-shadow(150);

#stars {
	width: 1px;
	height: 1px;
	max-height: 100vh;
	background: transparent;
	box-shadow: $shadows-small;
	animation: animStar 500s linear infinite;
	z-index: -9999;

	&:after {
		content: " ";
		position: absolute;
		width: 1px;
		height: 1px;
		background: transparent;
		box-shadow: $shadows-small;
	}
}
#stars2 {
	width: 2px;
	height: 2px;
	background: transparent;
	box-shadow: $shadows-medium;
	animation: animStar 350s linear infinite;
	z-index: -9999;

	&:after {
		content: " ";
		position: absolute;
		width: 2px;
		height: 2px;
		background: transparent;
		box-shadow: $shadows-medium;
	}
}
#stars3 {
	width: 3px;
	height: 3px;
	background: transparent;
	box-shadow: $shadows-big;
	animation: animStar 200s linear infinite;
	z-index: -9999;

	&:after {
		content: " ";
		position: absolute;
		width: 3px;
		height: 3px;
		background: transparent;
		box-shadow: $shadows-big;
	}
}

#sun {
	width: 10px;
	height: 10px;
	background: transparent;
	border-radius: 50%;
	z-index: 10;
	position: relative;
  animation: slow-pulse 10s infinite;
  animation-direction: alternate;
}

#sun::after {
	content: "";
	width: 10px;
	height: 10px;
	border-radius: 50%;
	position: absolute;
	background: #ffffff;
	box-shadow: 0 0 5px 5px #fff, 0 0 160px 40px #ffaf80, 0 0 170px 40px #0ff;
}

@keyframes animStar {
	from {
		transform: translateY(0px);
	}
	to {
		transform: translateY(-2000px);
	}
}

@keyframes slow-pulse {
	0% {
		box-shadow:0  0 40px 10px #fff, 0  0 100px 20px #e78045, 0  0 100px 20px #0ff;
	}
	50% {
		box-shadow:0  0 50px 15px #fff, 0  0 200px 30px #e78045, 0  0 200px 30px #0ff;
	}
	100% {
		box-shadow:0  0 40px 10px #fff, 0  0 300px 40px #e78045, 0  0 300px 40px #0ff;
	}
}
